
.glyphicon, .glyphicon-home{
	font-size: 35px;
	top:-6px;
	color:white;
}

.navbar,.dropdown-menu{
	background-color:#176093;
}

.navbar-nav li a{
	color:white !important;
}

.navbar-nav li a:hover,.active1{
	background-color: #258cd4 !important ;
}
.search input{
	margin: 5px 15px 5px 0;
	width: 47.5% !important;
}
.search input #search{
	width: 100% !important;
}
.panel-body{
	margin: 0px;
	padding:0px;
	height: 40px
}
.panel-body a{
	line-height: 40px
}

.span-link{font-size: 25px;color:blue;top:5px;padding:0px;margin:0 10px}
.up{
	background-color: #fc7100;
}
.sr-text {
	width: 97.5% !important;
	margin-bottom: 5px
}

.row-search{
	background-color: #0066CC;
	padding: 20px 0px;
	border-radius: 5px;
}

.btn-search{
	margin-top: 15px;
}

/*============= CONTENT ============*/
.container-content{
	margin-top: 20px;
}

.title-content{
	margin-bottom: 10px;
	border-bottom: 2px solid #0066CC;
}

.title-content a span{
	background-color: #0066CC;
	display: block;
	padding:5px;
	width:300px;
	border-radius: 5px 20px 0px 0px;
	color:white;
}

.title-content a:hover{
	text-decoration: none;
}

.post{
	position: relative;
	overflow: hidden;
}
.post img{
	float:left;
	margin: 10px 20px 10px 0px;
	width: 131px;
}
.post p{
	margin-left: 10 px;
}

.info li,.info2 li{
	color:#333;
	font-size: 1em
}
.info{
	position: absolute;
	left: 105px;
	top: 90px;
}
.info2{
	position: absolute;
	left: 500px;
	top: 90px;
}

.facebook{
	margin-top: 10px;
}
/*============== SAIBAR =================*/
.saibar{
	margin-top: 29px;
}

/*======== FOOTER ===========*/
.link-footer{
	background-color: #176093;
	height: 40px
}

.link-footer ul li a{
	line-height: 40px;
	display: inline;
	margin-right: 20px;
	color: white;
	font-size: 1.1em;
	text-decoration: none
}
.link-left-footer{
	float:left;
}

.link-right-footer{
	float:right !important;
}


.footer ul{
	float: left;
	padding:0px;
	margin: 0px;
}
.footer ul li{
	list-style: none;
	float:left;
}
.footer a{color:black;}
.footerMenu{
	margin-top: 10px;
}
.footerMenu ul li.level-1 > a{
	font-size: 1.2em;
	color:#222;
	font-weight: bold;
}
.footerMenu ul li ul li{
	width:100%;
}
.footerMenu ul li ul li a{
	font-size: .9em;
}

/*=========backtop==========*/

#backtop{display:none;position: fixed;right:10px;bottom: 10px;}
